body{
font-family: Georgia, 'Times New Roman'; 
background-color: var(--background-color,black); 
margin-top: var(--margin-top,16px);
margin-right: var(--margin-right,16px);
margin-bottom: var(--margin-bottom,16px);
margin-left: var(--margin-left,16px);
color: var(--color,rgb(177, 138, 30));  
}
#menu_ul{
padding: var(--padding,0);
}
#menu_ul li  {
display: var(--display,inline); 
color: var(--color,rgb(177, 138, 30));  
}
#enlace {
text-decoration: var(--text-decoration,none);
color: var(--color,rgb(177, 138, 30));
}  
#enlace_one
{
text-decoration: var(--text-decoration,none);
color: var(--color,rgb(177, 138, 30));  
} 
#verificacion_uno{
width: var(--width,30%);
height: var(--height,30%);
}
div.num1{
text-align: var(--text-align,center);
border: var(--border,3px solid rgb(177, 138, 30));
border-radius: var(--border-radius,5px);
}
.pdf{
color: var(--color, rgb(177, 138, 30));  
text-decoration: var(--text-decoration,none);   
font-weight: var(--font-weight,bold);
}
#flecha_pdf{
 padding: var(--padding,10px);   
 width: var(--width,30px);
 right: var(--right,30px);
 position: var(--position,relative);
 top: var(--top,20px);
 left: var(--left,8px);   
}